@use '../../../styles/variables.scss' as *;
@use '../../../styles/mixins' as *;
@use '../../../styles/z-indexes.scss' as *;

.loginHelperBtn {
	@include button-600;
	color: $text-grey-500;
	padding: $vertical-padding-sm $horizontal-padding-md;
	border-radius: $corner-radius-xs;
	border: 1px solid $light-hover;
	background-color: $white-50;
	box-shadow: $shadow-s-black;
	margin-right: $spacing-md;
	transition: box-shadow 0.3s;

	.highlighted {
		color: $green-600;
		font-weight: $font-weight-bold;
	}

	&:hover {
		box-shadow: $shadow-m-accent;
	}
}
