@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/z-indexes.scss' as *;

.search {
	width: max-content;
	display: flex;
	align-items: center;
	outline: none;
	padding: $horizontal-padding-md $vertical-padding-lg;
	border-radius: $corner-radius-sm;
	border: 1px solid $light-hover;
	background-color: $white-300;

	&:focus-within {
		outline: 2px solid #000;
	}
	height: 3rem;
}

.searchInput {
	font-size: $font-size-md;
	background-color: $white-300;
	margin-left: $font-size-sm;
	border: none;
	width: 23rem;
	outline: none;
}
