@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/z-indexes.scss' as *;

.dayCard {
	display: flex;
	min-height: 6.5rem;
	height: 100%;

	.dayContainer {
		border-right: 1px solid $light-hover;
		border-bottom: 1px solid $light-hover;
		border-left: 1px solid $light-hover;
	}

	.dayCard:last-child .dayContainer {
		border-right: none;
	}

	.dayContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 4rem;
		color: $text-grey-300;

		.dayNumber,
		.dayName {
			@include body-400;
		}
	}

	.active {
		color: $text-grey-50;
		background-color: $green-500;
		border-radius: 0 $corner-radius-xs $corner-radius-xs 0;
		border: 0;
	}

	.examContainer {
		display: flex;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		padding: $vertical-padding-2xl $spacing-lg;
		border-right: 1px solid $light-hover;
		border-bottom: 1px solid $light-hover;

		.addNewEventBtnContainer {
			margin-bottom: $spacing-lg;
		}
	}
}
